pom.xml
pom.xml.asc
*jar
*swp
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

# Antlr generated code
/src/antlr/*.java
/src/antlr/*.tokens

# Emacs autosave
*~
